body {
  font-family: "Viaoda Libre", cursive;
}

.container1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lines {
  font-size: 22px;
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
  right: 0;
}

.main-content {
  flex: 1;
  width: 100%;
}

.logo {
  top: 120px;
  left: 70px;
  position: sticky;
}

.para {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  font-size: 90px;
  margin-top: 200px;
  margin-bottom: 120px;
  padding: 30px;

}

.line1 {
  width: 60px;
  justify-content: center;
}

.line2 {
  width: 60px;
  justify-content: center;
}

.line3 {
  width: 60px;
  justify-content: center;
}

span {
  display: inline-block;
  transform: rotate(90deg);
}

.food {
  display: flex;
  flex-direction: column;
  row-gap: 300px;
  align-items: center;
}

.food p {
  padding-top: 60px;
}

.retail {
  display: flex;
  flex-direction: column;
  row-gap: 300px;
  align-items: center;
}

.retail p {
  padding-top: 60px;
}

.community {
  display: flex;
  flex-direction: column;
  row-gap: 300px;
  align-items: center;
}

.community p {
  padding-top: 60px;
}
.pic-conatiner {
  max-width: 1250px;
}
.pic {
  width: 100%;
}

.container2 {
  max-width: 100%;
  width: 100%;
  height: 55vw;
}

.card-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;

}

.new-kind {
  font-size: 110px;
}

.cards {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 4%;
  width: 100%;
}

.card1 {
  flex-basis: 100%;
}

.card2 {
  flex-basis: 100%;
}

.card3 {
  flex-basis: 100%;
}

.market {
  height: 34vw;
  background-image: url("https://images.prismic.io/canalstreetmarket/8f74dfabde9ebd66d0d078ba6cf794c77dc8ac5b_home_page_one.jpg?auto=compress,format");
  background-size: cover;
}

.retail-markets {
  height: 34vw;
  background-image: url("https://images.prismic.io/canalstreetmarket/20c7997073b456fda0e6de872d23b6183892bdde_home_page_two.jpg?auto=compress,format");
  background-size: cover;
}

.food-hall {
  height: 34vw;
  background-image: url("https://images.prismic.io/canalstreetmarket/13a988aff3e9c672350fe8330eb7386c3a85eeb9_home_page_three.jpg?auto=compress,format");
  background-size: cover;
}

.par1 {
  word-spacing: 6px;
}

.par3,
.par4,
.par6,
.par7 {
  margin-top: 0px;
  margin-bottom: 0px;
  word-spacing: 6px;
}

.par2,
.par5 {
  margin-bottom: 0px;
  word-spacing: 6px;
}

.container3 {
  width: 1250px;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 80px;
  width: 100%;
}

.code1 {
  font-size: 60px;
  width: 30%;
}

.code2 {
  font-size: 100px;
  width: 35%;
  line-height: 90px;
}

.code3 {
  font-size: 60px;
  width: 30%;
}

.container4 {
  display: flex;
  margin-top: 50px;
  column-gap: 5%;
  max-width: 1250px;
  border-top: dashed 2px black;
  border-bottom: dashed 2px black;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.see {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.see-all {
  background-color: white;
  padding: 20px;
  width: 170px;
  border: solid 1px black;
}

.see-all:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.balance {
  font-size: 18px;
  text-align: center;
  width: 28%;
}

.hack-city {
  font-size: 18px;
  text-align: center;
  width: 28%;
}

.wave {
  font-size: 18px;
  text-align: center;
  width: 28%;
}

.container5 {
  max-width: 1250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  column-gap: 5%;
  width: 100%;
}

.canal {
  display: flex;
  align-items: center;
  text-align: center;
  width: 45%;
  font-size: 60px;
  border: dashed 2px black;
  height: 25vw;
}

.maps {
  width: 45%;
  background-image: url("https://images.prismic.io/canalstreetmarket/74921c6bf0abf767666c52a6af3c001c58643587_group-11.jpg?auto=compress,format");
  border: dashed 2px black;
  height: 25vw;
}

.container6 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
}

.interest {
  width: 100%;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
}

.click {
  width: 100%;
  margin-bottom: 36px;
  text-align: center;
  margin-top: 30px;
}

.click-here {
  background-color: white;
  width: 180px;
  font-size: 18px;
  border-radius: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 28px;
}

.click-here:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.container7 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 28% 28% 28%;
  column-gap: 4%;
}

.email {
  display: flex;
  flex-direction: column;
  border: dashed 1px black;
  padding: 50px;
  align-items: center;
}

.facebook {
  display: flex;
  flex-direction: column;
  border: dashed 1px black;
  align-items: center;
  padding: 50px;
}

.insta {
  display: flex;
  flex-direction: column;
  border: dashed 1px black;
  padding: 50px;
  align-items: center;
}

.container8 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: dashed 1px black;
  column-gap: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.left {
  display: flex;
  column-gap: 40px;
}

.left p {
  margin-top: 0px;
}

footer {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  justify-content: space-between;
}

footer a {
  color: black;
}

.stay {
  margin-left: 40px;
  font-size: 32px;
  width: 30%;
}

.email-id {
  padding-top: 10px;
  width: 80%;
}

#email {
  width: 80%;
  border: solid 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  outline: none;
}

@media all and (min-width: 321px) and (max-width: 720px) {
  body {
    background-color: #ffb400;
  }
  .lines {
    display: none;
  }
  .para {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .new-kind {
    font-size: 40px;
  }
  .cards {
    flex-direction: column;
  }
  .card1,
  .card2,
  .card3 {
    width: 100%;
  }
  .market,
  .retail-markets,
  .food-hall {
    height: 100vw;
  }
  .container3 {
    flex-direction: column;
    row-gap: 50px;
  }
  .code1,
  .code2,
  .code3 {
    width: 600px;
  }
  .code2 {
    font-size: 60px;
  }
  .container4 {
    flex-direction: column;
    row-gap: 50px;
    border-bottom: none;
  }
  .balance,
  .hack-city,
  .wave {
    width: 100%;
    border-bottom: dashed 2px black;
  }
  .see-all {
    padding-top: 20px;
    width: 100%;
    background-color: #ffb400;
  }

  .container5 {
    display: flex;
  }
  .maps {
    display: none;
  }
  .canal {
    width: 85%;
    font-size: 40px;
  }
  .container6 {
    padding: 10px;
  }
  .interest {
    width: 100%;
    font-size: 30px;
  }
  .click-here {
    width: 85%;
    background-color: #ffb400;
  }
  .container7 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .container8 {
    flex-direction: column;
  }
  .stay {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-left: 0px;
  }
  .email-id {
    width: 100%;
  }
  #email {
    width: 90%;
    background-color: #ffb400;
  }
  footer {
    display: initial;
  }
  .right {
    display: none;
  }
  .left {
    flex-direction: column;
  }
  .left a {
    margin-top: 10px;
  }
  .container1 {
    display: initial;
  }
  body{
    overflow-x: hidden;
  }
}
